.sign {
  background-image: linear-gradient(
      rgba(44, 44, 104, 0.7),
      rgba(255, 255, 255, 0.897)
    ),
    url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-blue-technology-wind-party-theme-signature-wall-background-material-ceremonyaward-ceremonyawards-image_71325.jpg);

  color: white;
  padding-bottom: 20px;

  background-position: center;

  background-size: cover;

  position: relative;
}
