<div class="sign">
  <nav
    class="navbar bg-dark border-bottom-dark navbar-expand-lg navbar-dark bg-dark border-bottom-dark bg-body-tertiary"
    data-bs-theme="dark"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo App</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active">Disabled</a>
          </li>
        </ul>

        <form class="d-flex">
          <input
            class="border form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />

          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container ">
    <h1 class="text-center pt-3 text-white">Task App</h1>

    <div class="row m-3">  
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control  "
          placeholder="Enter your Task"
          [(ngModel)]="task"
        />
      </div>

      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="Add()">Add</button>
      </div>

      <div class="col-sm-2">
        <button class="btn btn-danger" (click)="DeleteAll()">Delete All</button>
      </div>
    </div>

    <div
      class="border p-3 row bg-dark text-white"
      *ngFor="let item of list; let i = index"
    >
      <div class="col-sm-1">
        <button class="btn btn-danger btn-sm float-end" (click)="Delete(i)">
          Delete
        </button>
      </div>

      <div class="col-sm-5">
        <div class="form-check my-1">
          <input
            class="form-check-input"
            (change)="ChangeStatus(i, item.IsComplete)"
            type="checkbox"
            [checked]="item.IsComplete"
            id="{{ i }}"
          />

          <label class="form-check-label" for="{{ i }}" *ngIf="item.IsComplete">
            <s>{{ item.TaskName }} - Task Disabled</s>
          </label>

          <label
            class="form-check-label"
            for="{{ i }}"
            *ngIf="!item.IsComplete"
          >
            {{ item.TaskName }} - Task Enable
          </label>
        </div>
      </div>
    </div> 


















































































































































































































    <br />
    <br />
    <br />
    <br /><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container h-300 text-white">
      <footer class="py-3 my-4 text-white">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Home</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Features</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Pricing</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">FAQs</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">About</a>
          </li>
        </ul>

        <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
      </footer>
    </div>
  </div>
</div>
