 
<div class="container text-center justify-content-center  m-3">
    <div class="   container">
    <input  type="text" [(ngModel)]="newTodo" placeholder="Add new todo">
    <button class="btn btn-primary m-2" (click)="addTodo()">Add</button>
    

        <!-- <ul class="list-unstyled  text-center">
            <li class="m-3 border" *ngFor="let todo of todos">
              {{ todo }}
              <button class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
            </li>
          </ul> -->

         
          </div>

          
    </div>



    <div class="d-flex card text-center  w-50">
        <div class="card-header">
         
        </div>
        <div class="card-body" *ngFor="let todo of todos" >
          <h5 class="card-title"> {{ todo }}</h5>
          <button class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
    
          <div class="card-footer text-body-secondary">
              Just Now
            </div>
        </div>
</div>
